@charset "UTF-8";
.aboutUs {
  width: calc(100% - 50px);
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  margin-top: 50px;
  background: #1B2631;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.aboutUs .aboutUs-content {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.aboutUs .aboutUs-content .title-aboutUs {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.aboutUs .aboutUs-content .title-aboutUs h1 {
  color: #15aab2;
  font-size: 2rem;
}

.aboutUs .aboutUs-content .wraper-aboutUs {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 50px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs {
  width: 30%;
  gap: 15px;
  justify-self: flex-end;
  -webkit-box-shadow: 0 0 5px #ffffff80, 0 25px 80px #155db1, inset 0 0 10px #ffffff;
          box-shadow: 0 0 5px #ffffff80, 0 25px 80px #155db1, inset 0 0 10px #ffffff;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs::after {
  z-index: 30;
  content: "";
  background: #15aab2;
  width: 120%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: -12px;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs::before {
  background: #1B2631;
  z-index: 50;
  content: "";
  width: 98%;
  height: 98%;
  border-radius: 15px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .title-presentation-aboutUs {
  width: 100%;
  gap: 5px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  border-radius: 15px;
  background: #15aab2bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .title-presentation-aboutUs img {
  width: 30%;
  border-radius: 10px;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .title-presentation-aboutUs span {
  text-align: center;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .title-presentation-aboutUs span h3 {
  color: #ffffff;
  text-align: center;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .title-presentation-aboutUs span h4 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs p {
  color: #ffffff;
  padding: 10px;
  z-index: 100;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs {
  background: #1B2631;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: skew(60deg, 60deg);
          transform: skew(60deg, 60deg);
  pointer-events: none;
  opacity: 0;
  display: -ms-grid;
  display: grid;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs.active {
  width: 100%;
  height: 100%;
  -webkit-transform: skew(0);
          transform: skew(0);
  pointer-events: visible;
  opacity: 1;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs.active::after {
  font-size: 1rem;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs.active img {
  width: 95%;
  height: 75%;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs::after {
  content: 'Gedeón Amparo Castillo';
  text-shadow: 0 0 10px #155db1;
  font-size: 0;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5px;
  color: #ffffff;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs i {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color: #ffffff;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs i:hover {
  color: #ff0000;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs i:active {
  color: #15aab2;
}

.aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs .img-area-presentation-aboutUs img {
  place-self: center;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 750px) {
  .aboutUs {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .aboutUs .aboutUs-content .wraper-aboutUs .wraper-aboutUs-content .card-presentation-aboutUs {
    width: 95%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=aboutUs.css.map */