* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Source Serif 4', sans-serif;
  scroll-behavior: smooth;
}

* button {
  border: none;
  outline: none;
  cursor: pointer;
}

*::-moz-selection {
  background: #06461f80;
}

*::selection {
  background: #06461f80;
}

* img {
  width: 50px;
}

body {
  background: #def7ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[12];
      grid-template-columns: repeat(12, auto);
  -ms-grid-rows: (auto)[12];
      grid-template-rows: repeat(12, auto);
}

body::-webkit-scrollbar {
  width: 10px;
  background: #15aab240;
}

body::-webkit-scrollbar-thumb {
  width: 100%;
  background: #15aab2;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
}

body::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
  background: #155db1;
}

body .backdrop-box {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background: #000000e5;
  width: 110%;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 104%;
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

body .backdrop-box.active {
  z-index: 10000;
  opacity: 1;
  pointer-events: visible;
}

body .medias-excursions {
  position: fixed;
  width: 60%;
  max-height: 460px;
  top: 5%;
  left: 20%;
  z-index: 800;
  border-radius: 10px;
  background: #def7ff;
  -webkit-box-shadow: 0 0 10px 2px #00000090;
          box-shadow: 0 0 10px 2px #00000090;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: -ms-grid;
  display: grid;
}

body .medias-excursions.active {
  z-index: 11000;
  opacity: 1;
  pointer-events: visible;
}

body .medias-excursions .medias-excursions-content {
  width: 100%;
  place-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .medias-excursions .medias-excursions-content .btn-medias-excursions {
  position: absolute;
  top: 2px;
  right: 5px;
}

body .medias-excursions .medias-excursions-content .btn-medias-excursions i {
  color: #444444;
  font-size: calc(.8rem + 1vw);
}

body .medias-excursions .medias-excursions-content .btn-medias-excursions i:hover {
  color: #ff0000;
}

body .medias-excursions .medias-excursions-content .title-medias-excursions {
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

body .medias-excursions .medias-excursions-content .title-medias-excursions h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: calc(.8rem + 1vw);
  color: #155db1;
  text-shadow: 0 0 5px #00000080;
}

body .medias-excursions .medias-excursions-content .img-medias-excursions {
  width: 100%;
  place-items: center;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  display: -ms-grid;
  display: grid;
}

body .medias-excursions .medias-excursions-content .img-medias-excursions.active {
  z-index: 11000;
}

body .medias-excursions .medias-excursions-content .img-medias-excursions img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  height: 410px;
}

body .medias-excursions .medias-excursions-content .des-medias-excursions {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin: 5px;
  text-shadow: 0 0 5px #ffffff;
  color: #444444;
}

@media (max-width: 750px) {
  body .medias-excursions {
    top: 25%;
    width: 90%;
  }
  body .medias-excursions .medias-excursions-content .img-medias-excursions img {
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
  }
}
/*# sourceMappingURL=body.css.map */