// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Desktop|||||||||||||||||Desktop||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
.contact {
	width: calc(100% - 50px);
	margin-left: 50px;

	display: grid;
	grid-column: 1/13;
	grid-row: 12/13;
	&.active {
		width: 100%;
	}
	.contact-content {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		// title
		.title-contact {
			width: 100%;

			display: grid;
			.title-contact-content {
				margin-top: 15px;
				justify-self: center;
				h1 {
					font-size: 2rem;
					color: #15aab2;
				}
			}
		}
		.wraper-contact {
			width: 100%;

			display: grid;
			.wraper-contact-content {
				justify-self: center;
				width: 90%;
				justify-content: space-evenly;

				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(175px, max-content));
				// box container redes
				div {
					justify-self: center;
					margin-top: 10px;
					margin-bottom: 25px;

					display: block;
					// box content redes
					a {
						gap: 10px;
						text-decoration: none;
						cursor: default;

						display: grid;
						&::-webkit-scrollbar {
							background: #44444440;
							height: 10px;
						}
						&::-webkit-scrollbar-thumb {
							background: #155db1;
						}
						svg {
							width: calc(1.5em + 1vw);
							justify-self: center;
							fill: #15aab2;
							cursor: pointer;
							&:hover {
								fill: #155db1;
							}
						}
						i {
							font-size: calc(1.5em + 1vw);
							justify-self: center;
							color: #15aab2;
							cursor: pointer;
							&:hover {
								color: #155db1;
							}
						}
						h3 {
							color: #444444;
							font-size: calc(.5em + 1vw);
							margin-top: 10px;
							cursor: pointer;
							letter-spacing: 1px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Mobile||||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Mobile|||||||Mobile||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Mobile||||||||||||||||||Mobile|||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Mobile|||||||Mobile||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Mobile||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
@media (max-width: 750px) {
	.contact {
		width: 100%; //edit (remove: [100% - 50px], add: 100%)
		margin-left: 0; //edit (remove: 50px add: 0)
		.contact-content {
			.wraper-contact {
				.wraper-contact-content {
					div {
						a {
							padding: 0 10px;
							border-radius: 25px;
							padding-bottom: 5px;
							&:active {
								transition: .2s;
								box-shadow: inset 0 0 10px #00000080;

								transform: scale(1.2);
							}
							i {
								&:hover {
									fill: #15aab3;
									color: #15aab2;
								}
							}
						}
					}
				}
			}
		}
	}
}
