.excursions {
  width: calc(100% - 50px);
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.excursions .excursions-content {
  margin-top: 50px;
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .title-excursions {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .title-excursions .title-excursions-content {
  -ms-grid-column-align: center;
      justify-self: center;
}

.excursions .excursions-content .title-excursions .title-excursions-content h1 {
  color: #15aab2;
  font-size: 2rem;
}

.excursions .excursions-content .wraper-excursions {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  -ms-grid-rows: (minmax(100px, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(100px, auto));
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div {
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: block;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div span {
  border: 2px solid #155db1;
  border-radius: 50px;
  overflow: hidden;
  width: 80%;
  max-height: 50px;
  background: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div span img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div span {
  margin-top: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div span div {
  width: 100%;
  display: block;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div span div h3 {
  font-size: 1.3rem;
  color: #155db1;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  overflow: auto;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside::-webkit-scrollbar {
  width: 10px;
  background: #15aab240;
  border-radius: 10px;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside::-webkit-scrollbar-thumb {
  width: 100%;
  background: #15aab2;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
  background: #155db1;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div p {
  color: #000000;
  font-weight: 300;
  font-size: 1rem;
  font-weight: 500;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div p b {
  color: #15aab2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div h5 {
  margin-top: 5px;
}

@media (max-width: 750px) {
  .excursions {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=excursions.css.map */