.excursions {
  width: calc(100% - 50px);
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.excursions .excursions-content {
  margin-top: 50px;
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .title-excursions {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .title-excursions h1 {
  color: #15aab2;
  font-size: 2rem;
}

.excursions .excursions-content .wraper-excursions {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 50px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  -ms-grid-rows: (minmax(100px, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(100px, auto));
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div {
  display: block;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#155db1), color-stop(1.2%, #155db1), color-stop(1.2%, #155db120), color-stop(98.8%, #155db120), color-stop(98.8%, #155db1), to(#155db1));
  background: linear-gradient(90deg, #155db1 0%, #155db1 1.2%, #155db120 1.2%, #155db120 98.8%, #155db1 98.8%, #155db1 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px #00000080;
          box-shadow: 0 5px 10px #00000080;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div {
  width: 90%;
  margin: 5px 0;
  padding: 5px;
  -webkit-box-shadow: 0 5px 10px #00000080;
          box-shadow: 0 5px 10px #00000080;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 100;
  background: none;
  display: block;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-shadow: 0 5px 10px #00000080;
          box-shadow: 0 5px 10px #00000080;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div span {
  border: 2px solid #155db1;
  border-radius: 50px;
  overflow: hidden;
  width: 80%;
  max-height: 50px;
  background: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div span img {
  -webkit-transition: .5s;
  transition: .5s;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div div div span img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div span {
  width: 100%;
  padding: 5px 0;
  z-index: 100;
  background: #155db1;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div span h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.3rem;
  color: #ffffff;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir {
  width: 95%;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  row-gap: 10px;
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button {
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  place-items: center;
  z-index: 100;
  overflow: hidden;
  padding: 5px 10px;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  font-size: 1rem;
  z-index: 150;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(1) {
  width: 100px;
  height: 50px;
  justify-self: flex-start;
  background: #0E6251;
  font-weight: 900;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(1):hover {
  background: #15aab2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-grid-column-align: center;
      justify-self: center;
  background: #155db1;
  overflow: hidden;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):hover::after, .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):hover::before {
  height: 50%;
  background: #15aab2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2)::after {
  content: "";
  background: #0E6251;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
  -webkit-transition: .3s;
  transition: .3s;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2)::before {
  content: "";
  background: #0E6251;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 50;
  -webkit-transition: .3s;
  transition: .3s;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(3) {
  width: 100px;
  height: 50px;
  justify-self: flex-end;
  background: #0E6251;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(3):hover {
  background: #15aab2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(3) b:nth-child(1) {
  font-size: .7rem;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL {
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  position: absolute;
  place-items: center;
  background: #155db1;
  -webkit-transform: skew(-60deg, -60deg);
          transform: skew(-60deg, -60deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  pointer-events: none;
  opacity: 0;
  z-index: 250;
  -webkit-transition: .5s;
  transition: .5s;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL.active,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC.active,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT.active,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM.active,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR.active,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL.active p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC.active p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT.active p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM.active p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR.active p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL.active p {
  font-size: 1.2rem;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR p,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL p {
  width: 90%;
  height: 80%;
  color: #ffffff;
  font-size: 0;
  overflow: auto;
  padding-right: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL p::-webkit-scrollbar,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC p::-webkit-scrollbar,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT p::-webkit-scrollbar,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM p::-webkit-scrollbar,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR p::-webkit-scrollbar,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL p::-webkit-scrollbar {
  width: 7px;
  background: #15aab240;
  border-radius: 10px;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL p::-webkit-scrollbar-thumb,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC p::-webkit-scrollbar-thumb,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT p::-webkit-scrollbar-thumb,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM p::-webkit-scrollbar-thumb,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR p::-webkit-scrollbar-thumb,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL p::-webkit-scrollbar-thumb {
  width: 100%;
  background: #15aab2;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL p::-webkit-scrollbar-thumb:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC p::-webkit-scrollbar-thumb:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT p::-webkit-scrollbar-thumb:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM p::-webkit-scrollbar-thumb:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR p::-webkit-scrollbar-thumb:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL p::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
  background: #155db1;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL button,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC button,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT button,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM button,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR button,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL button {
  color: #ffffff;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 5px;
  background: none;
  font-size: 1.5rem;
  position: absolute;
  display: -ms-grid;
  display: grid;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-BCL button:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-HC button:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-LT button:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PM button:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-PR button:hover,
.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div .included-SL button:hover {
  color: #ff0000;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  margin-top: 10px;
  display: none;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div {
  width: 85%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div::-webkit-scrollbar {
  width: 10px;
  background: #15aab240;
  border-radius: 10px;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div::-webkit-scrollbar-thumb {
  background: #15aab2;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 10px #fff;
          box-shadow: inset 0 0 10px #fff;
  background: #155db1;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div p {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div p b {
  color: #15aab2;
}

.excursions .excursions-content .wraper-excursions .wraper-excursions-content div div aside div h5 {
  margin-top: 5px;
}

@media (max-width: 750px) {
  .excursions {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(1):hover {
    background: #0E6251;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(1):active {
    background: #15aab2;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):hover {
    background: #155db1;
    -webkit-transition: 0;
    transition: 0;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):hover::after, .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):hover::before {
    background: transparent;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(2):active {
    background: #15aab2;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(3):hover {
    background: #0E6251;
  }
  .excursions .excursions-content .wraper-excursions .wraper-excursions-content div div dir button:nth-child(3):active {
    background: #15aab2;
  }
}
/*# sourceMappingURL=excursions.css.map */