.footer {
	width: calc(100% - 50px);
	margin-left: 50px;
	background: #222222;

	display: grid;
	grid-column: 1/13;
	grid-row: 12/13;
	.footer-content {
		width: 100%;

		display: grid;
		grid-template-columns: repeat(6, auto);
		grid-template-rows: repeat(6, auto);
		.authors {
			justify-self: flex-start;
			align-items: center;
			margin: 10px;
			color: #999999;
			font-size: calc(.3em + 1vw);
			gap: 5px;
			i {
				font-size: calc(.4rem + 1vw);
			}
			h3 {
				a {
					color: #999999;
					b {
                        text-decoration: underline;
					color: #999999;
                        &:hover {
                            color: #155db2;
                        }
					}
				}
				b {
					color: #666666;
					margin-left: 5px;
				}
			}

			display: flex;
			grid-column: 1/4;
			grid-row: 1/2;
		}
		.copyRight {
			color: #999999;
			font-size: calc(.3em + 1vw);
			gap: 5px;
			margin: 10px;
			align-items: center;

			display: flex;
			grid-column: 1/4;
			grid-row: 2/3;
			i {
				font-size: calc(.4rem + 1vw);
			}
		}
	}
}

@media (max-width: 750px) {
	.footer {
		width: 100%; //edit (remove: 100% - 50px, add: 100%)
		margin-left: 0; //edit (remove: 50px, add: 0)
	}
}
