.home {
  width: calc(100% - 50px);
  height: 100vh;
  margin-left: 50px;
  -webkit-transition: .4s;
  transition: .4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.home .home-content {
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
}

.home .home-content .video-area-home {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.home .home-content .video-area-home img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
  -webkit-transition: .4s;
  transition: .4s;
}

.home .home-content .video-area-home video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 200;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.home .home-content .video-area-home .overlay {
  background: #16494d9a;
  position: absolute;
  mix-blend-mode: overlay;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
}

.home .home-content .logo-area-home {
  width: 100%;
  height: 100%;
  z-index: 200;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.home .home-content .logo-area-home img {
  place-self: center;
  width: 50%;
}

.home .home-content h3 {
  z-index: 300;
  color: #15aab2;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #ffffff;
  padding: 5px 10px;
  padding-right: 0;
  border-bottom-left-radius: 10px;
  font-size: calc(.5em + 1vw);
  right: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.home .home-content h3::after {
  content: "";
  height: 100%;
  top: 0;
  position: absolute;
  background: #ffffff50;
  -webkit-transform: translateX(-450px);
          transform: translateX(-450px);
  -webkit-animation: textAnimate 3s infinite ease-in-out;
          animation: textAnimate 3s infinite ease-in-out;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 5px 0 10px #ffffff, inset -5px 0 10px #ffffff, 5px 0 10px #ffffff;
          box-shadow: inset 5px 0 10px #ffffff, inset -5px 0 10px #ffffff, 5px 0 10px #ffffff;
  border-radius: 25px;
  z-index: 200;
}

@-webkit-keyframes textAnimate {
  0% {
    width: 0;
    background: #ffffff40;
  }
  50% {
    width: 20px;
    background: #ffffff80;
  }
  100% {
    width: 0;
    background: #ffffff40;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes textAnimate {
  0% {
    width: 0;
    background: #ffffff40;
  }
  50% {
    width: 20px;
    background: #ffffff80;
  }
  100% {
    width: 0;
    background: #ffffff40;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.home .home-content h3 b {
  color: #ffffff;
  background: #15aab2;
  padding: 5px 10px;
  padding-left: 1px;
}

@media (max-width: 750px) {
  .home {
    width: 100vw;
    height: 50vh;
    margin-left: 0;
  }
}
/*# sourceMappingURL=home.css.map */