// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Desktop|||||||||||||||||Desktop||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
.home {
	width: calc(100% - 50px);
	height: 100vh;
	margin-left: 50px;
	transition: .4s;

	display: grid;
	grid-column: 1/13;
	grid-row: 1/2;
	.home-content {
		width: 100%;
		height: 100%;
		transition: .4s;
		// overflow: hidden;

		display: grid;
		grid-template-columns: repeat(6, auto);
		grid-template-rows: repeat(6, auto);
		// video
		.video-area-home {
			width: 100%;
			height: 100%;
			position: relative;
			transition: .4s;
			overflow: hidden;

			display: grid;
			grid-column: 1/7;
			grid-row: 1/7;
			img {
				filter: blur(3px);
				width: 100%;
				height: 100%;
				position: absolute;
				object-fit: cover;
				z-index: 100;
				transition: .4s;

				// display: ; //nop
			}
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				filter: blur(1px);
				position: absolute;
				top: 0;
				left: 0;
				opacity: .8;
				z-index: 200;
				border-radius: 5px;
				transition: .4s;

				display: none;
				grid-column: 1/7;
				grid-row: 1/7;
			}
			.overlay {
				background: #16494d9a;
				position: absolute;
				mix-blend-mode: overlay;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: 700;
			}
		}
		// logo
		.logo-area-home {
			width: 100%;
			height: 100%;
			z-index: 200;

			display: grid;
			grid-column: 1/7;
			grid-row: 1/7;
			img {
				place-self: center;
				width: 50%;
			}
		}
		h3 {
			z-index: 300;
			color: #15aab2;
			text-align: center;
			width: max-content;
			background: #ffffff;
			padding: 5px 10px;
			padding-right: 0;
			border-bottom-left-radius: 10px;
			font-size: calc(.5em + 1vw);
			right: 0;
			top: 0;
			overflow: hidden;
			position: absolute;

			grid-column: 1/7;
			grid-row: 1/2;
			&::after {
				content: "";
				height: 100%;
				top: 0;
				position: absolute;
				background: #ffffff50;
				transform: translateX(-450px);
				animation: textAnimate 3s infinite ease-in-out;
				backdrop-filter: blur(10px);
				box-shadow: inset 5px 0 10px #ffffff, inset -5px 0 10px #ffffff, 5px 0 10px #ffffff;
				border-radius: 25px;
				z-index: 200;
				@keyframes textAnimate {
					0% {
						width: 0;
						background: #ffffff40;
					}
					50% {
						width: 20px;
						background: #ffffff80;
					}
					100% {
						width: 0;
						background: #ffffff40;
						box-shadow: none;
						transform: translateX(0);
					}
				}
			}
			b {
				color: #ffffff;
				background: #15aab2;
				padding: 5px 10px;
				padding-left: 1px;
			}
		}
	}
}
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Mobile||||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Mobile||||||Mobile|||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Mobile|||||||||||||||||Mobile||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Mobile||||||Mobile|||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Mobile||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
@media (max-width: 750px) {
	.home {
		width: 100vw; //edit (remove: [100vw - 200px], add: 100vw)
		height: 50vh; //edit (remove: 100vh, add: 50vh)
		margin-left: 0; //edit (remove: 200px, add: 0)
	}
}
