// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Desktop|||||||||||||||||Desktop||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.navBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 100%;
	transition: .5s;
	z-index: 11000;

	display: grid;
	&.active-Desktop {
		.navBar-content {
			width: 50px; //edit(remove: 100%, add: 50px)
			.logo-navBar-area {
				width: 50px; //edit(remove: 100%, add: 50px)
				height: 55px; //edit(remove: min-content, add: 55px)
				.logo-navBar {
					opacity: 0; //edit(add: opacity)
				}
				.palmera-navBar {
					background: none; //edit(remove: #ffffff80, add: none)
					opacity: 1; //edit(remove: 0, add: 1)
				}
			}
			.main {
				li {
					width: 30px; //edit(add: width)
					height: 30px; //edit(add: height)
					padding: 5px; //edit(add: 5px-all)
					border-radius: 50px; //edit(remove: [50px 50px 0 0], add: 50px-all)
					place-content: center; //edit(add: place-items)
					&::after {
						opacity: 0;
						// display: none; //edit(add: display)
					}
					i {
						margin-right: 0; //edit(remove: 10px, add: 0)
					}
					h3 {
						display: none; //edit(add: display)
					}
				}
			}
		}
	}
	.navBar-content {
		background: #155eb1;
		box-shadow: 0 0 10px #000;
		width: 100%;
		z-index: 500;
		position: relative;
		transition: .5s;

		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		// btn open
		.btn-open-navBar {
			right: -30px;
			width: 30px;
			height: 30px;
			border-bottom-right-radius: 5px;
			backdrop-filter: blur(100px);
			position: absolute;
			justify-content: center;
			cursor: pointer;
			overflow: hidden;
			z-index: 1000;
			transition: .5s;

			display: grid;
			.line-top {
				border-radius: 10px;
				z-index: 100;
				background: #ffffff;
				width: 30px;
				height: 2px;
				transition: .5s;
			}
			.line-bottom {
				border-radius: 10px;
				z-index: 100;
				background: #ffffff;
				width: 25px;
				height: 2px;
				transition: .5s;
				&::after {
					content: "";
					position: absolute;
					border-radius: 10px;
					z-index: 100;
					background: #ffffff;
					width: 20px;
					height: 2px;
					bottom: 0;
					transition: .5s;
				}
			}
			&.active-Desktop {
				.line-top {
					width: 35px; //edit(remove: 30px, add: 35px)
					transform: rotate(45deg); //edit(add: transform)
					margin-top: 9px; //edit(add: margin-top)
					place-self: center; //edit(ad: place-self)
				}
				.line-bottom {
					width: 0; //edit(remove: 30px, add: 0)
					height: 0; //edit(remove: 2px, add: 0)
					&::after {
						width: 35px; //edit(remove: 20px, add: 35px)
						transform: rotate(-45deg); //edit(add: transform)
						place-self: center; //edit(add: place-self)
						margin-bottom: 14px; //edit(add: margin-bottom)
					}
				}
			}
		}
		// logo
		.logo-navBar-area {
			width: 100%;
			height: min-content;
			margin: 0;
			border-bottom: 1px solid #ffffff80;
			transition: .5s;
			position: relative;

			display: grid;
			grid-column: 1/3;
			grid-row: 1/2;
			img {
				background: #202f3d;
				padding: 5px;
				border-radius: 25px;
				width: 75%;
				margin: 5%;
				height: min-content;
				place-self: center;
				transition: .5s cubic-bezier(.95,.02,.38,1.25);
			}
			.palmera-navBar {
				width: 40px;
				opacity: 0; 
				position: absolute;
			}
		}
		// main
		.main {
			gap: 30px;
			margin-left: 5px;
			width: 100%;
			align-content: center;
			transition: .5s;

			display: flex;
			flex-direction: column;
			grid-column: 1/3;
			grid-row: 2/3;
			li {
				list-style: none;
				color: #ffffff;
				cursor: pointer;
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
				padding: 5px 10px;
				padding-right: 0;
				margin-right: 5px;
				align-items: center;

				display: flex;
				&.active {
					color: #155db1;
					background: #ffffff;
					&::after {
						content: "";
						width: 25px;
						height: 25px;
						background: #155db1;
						position: absolute;
						right: 0;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
				}
				&:hover {
					color: #155db1;
					background: #ffffff;
					&::after {
						content: "";
						width: 25px;
						height: 25px;
						background: #155db1;
						position: absolute;
						right: 0;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
				}
				&:active {
					color: #155db1bf;
					background: #ffffffbf;
				}
				// logo
				i {
					margin-right: 10px;
					font-size: 1.5rem;
				}
				// text
				h3 {
					font-size: .9rem;
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.navBar {
		height: 500px; //edit (remove: 100%, add: 500px)
		transform: translateX(-101%); //edit(add: transform)
		&.active {
			transform: translateX(0); //edit(remove: -100%, add: 0)
		}
		.navBar-content {
			border-bottom-right-radius: 10px;
			.btn-open-navBar {
				right: -50px; //edit(remove: -30px, add: -50px)
				width: 50px; //edit(remove: 30px)
				height: 50px; //edit(remove: 30px)
				.line-top {
					width: 50px; //edit(remove: 30px, add: 50px)
					height: 4px; //edit(remove: 2px, add: 4px)
				}
				.line-bottom {
					width: 40px; //edit(remove: 25px, add: 40px)
					height: 4px; //edit(remove: 2px, add: 4px)
					&::after {
						width: 30px; //edit(remove: 20px, add: 30px)
						height: 4px; //edit(remove: 2px, add: 4px)
					}
				}
				&.active {
					.line-top {
						width: 60px; //edit(remove: 35px, add: 60px)
						transform: rotate(45deg);
						margin-top: 13px; //edit(remove: 9px, add: 13px)
						place-self: center;
					}
					.line-bottom {
						width: 0;
						height: 0;
						&::after {
							width: 60px; //edit(remove: 35px, add: 60px)
							transform: rotate(-45deg);
							place-self: center;
							margin-bottom: 23px; //edit(remove: 14, add: 23px)
						}
					}
				}
			}
			.main {
				gap: 50px; //edit (remove: 30px, add: 50px)
				li {
					&:hover {
						color: #ffffff;
						background: #155db1;
					}
					&:active {
						color: #155db1;
						background: #ffffff;
					}
				}
			}
		}
	}
}
