.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 11000;
  display: -ms-grid;
  display: grid;
}

.navBar.active {
  width: 200px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navBar.active .navBar-content .logo-navBar-area .logo-navBar {
  opacity: 1;
}

.navBar.active .navBar-content .logo-navBar-area .logo-palmera-navBar {
  opacity: 0;
}

.navBar.active .navBar-content .main li h3 {
  font-size: .9rem;
}

.navBar.active .navBar-content .main li.active::after {
  width: 25px;
}

.navBar.active .navBar-content .main li:hover::after {
  width: 25px;
}

.navBar .navBar-content {
  background: #15aab2;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  width: 100%;
  z-index: 500;
  position: relative;
  -webkit-transition: 1s cubic-bezier(0.02, 0.07, 0.01, 0.96);
  transition: 1s cubic-bezier(0.02, 0.07, 0.01, 0.96);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navBar .navBar-content .btn-open-navBar {
  right: -30px;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 5px;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  position: absolute;
  justify-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: .4s;
  transition: .4s;
  display: -ms-grid;
  display: grid;
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ffffff;
  margin-left: -3px;
  width: 25px;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar::after {
  content: "";
  background: #ffffff;
  position: absolute;
  width: 30px;
  height: 2px;
  top: -14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 20px;
  height: 2px;
  top: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar.active {
  width: 35px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar.active::after {
  opacity: 0;
  top: 0;
}

.navBar .navBar-content .btn-open-navBar .lines-btn-navBar.active::before {
  top: 0;
  width: 35px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.navBar .navBar-content .logo-navBar-area {
  width: 100%;
  max-height: 150px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff80;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
  display: -ms-grid;
  display: grid;
}

.navBar .navBar-content .logo-navBar-area img {
  background: #202f3d;
  padding: 5px;
  border-radius: 25px;
  width: 75%;
  margin: 5%;
  place-self: center;
  -webkit-transition: 0.5s cubic-bezier(0.02, 0.07, 0.01, 0.96);
  transition: 0.5s cubic-bezier(0.02, 0.07, 0.01, 0.96);
}

.navBar .navBar-content .logo-navBar-area .logo-navBar {
  opacity: 0;
  z-index: 60;
}

.navBar .navBar-content .logo-navBar-area .logo-palmera-navBar {
  width: 35px;
  background: none;
  opacity: 1;
  z-index: 50;
  position: absolute;
}

.navBar .navBar-content .main {
  gap: 30px;
  margin-left: 5px;
  margin-top: 30px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navBar .navBar-content .main li {
  list-style: none;
  color: #ffffff;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 5px;
  padding-right: 0;
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s;
  transition: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar .navBar-content .main li.active {
  color: #155db1;
  background: #ffffff;
}

.navBar .navBar-content .main li.active::after {
  content: "";
  width: 8px;
  height: 25px;
  background: #15aab2;
  position: absolute;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.navBar .navBar-content .main li:hover {
  -webkit-transition: 0s;
  transition: 0s;
  color: #155db1;
  background: #ffffff;
}

.navBar .navBar-content .main li:hover::after {
  content: "";
  width: 8px;
  height: 25px;
  background: #15aab2;
  position: absolute;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: 0s;
  transition: 0s;
}

.navBar .navBar-content .main li:hover i {
  -webkit-transition: 0s;
  transition: 0s;
}

.navBar .navBar-content .main li:hover h3 {
  -webkit-transition: 0s;
  transition: 0s;
}

.navBar .navBar-content .main li:active {
  color: #155db1bf;
  background: #ffffffbf;
}

.navBar .navBar-content .main li i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.navBar .navBar-content .main li h3 {
  font-size: 0rem;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 750px) {
  .navBar {
    height: 500px;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .navBar .navBar-content {
    border-bottom-right-radius: 10px;
  }
  .navBar .navBar-content .btn-open-navBar {
    right: -50px;
    width: 50px;
    height: 50px;
  }
  .navBar .navBar-content .btn-open-navBar .lines-btn-navBar {
    margin-left: -10px;
    width: 30px;
    height: 4px;
  }
  .navBar .navBar-content .btn-open-navBar .lines-btn-navBar::after {
    width: 40px;
    height: 4px;
  }
  .navBar .navBar-content .btn-open-navBar .lines-btn-navBar::before {
    height: 4px;
  }
  .navBar .navBar-content .btn-open-navBar .lines-btn-navBar.active {
    margin-left: 0;
  }
  .navBar .navBar-content .main {
    gap: 50px;
  }
  .navBar .navBar-content .main li:hover {
    color: #ffffff;
    background: #15aab2;
  }
  .navBar .navBar-content .main li:active {
    color: #155db1;
    background: #ffffff;
  }
}
/*# sourceMappingURL=navBar.css.map */