// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||Desktop|||||||||||||||||Desktop||||||||||||||||||||||||||||||||
// ||||||||||||||||||||||||||||||||||||Desktop||||||Desktop|||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||Desktop|||||||||||||||||||||||||||||||||||||||||||||
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.navBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 100%;
	transition: .3s;
	z-index: 1000;

	display: grid;
	&.activeDesktop {
		.navBar-content {
			width: 50px; //edit (remove: 100%, add: 50px)
			.logo-navBar-area {
				width: 50px; //edit (remove: 100%, add: 50px)
				height: 55px; //edit (remove: min-content, add: 55px)
				.logo-navBar {
					opacity: 0; //edit (add: opacity)
				}
				.palmera-navBar {
					background: none; //edit (remove: #ffffff80, add: none)
					opacity: 1; //edit (remove: 0, add: 1)
				}
			}
			.main {
				li {
					width: 30px; //edit (add: width)
					height: 30px; //edit (add: height)
					padding: 5px; //edit (add: 5px all)
					border-radius: 50px; //edit (add: 50px all)
					place-items: center; //edit (add: place-items)

					display: grid;
					&::after {
						display: none; //edit (add: display)
					}
					i {
						margin-right: 0; //edit (remove: 10px, add: 0)
					}
					h3 {
						display: none; //edit (add: display)
					}
				}
			}
		}
	}
	.navBar-content {
		background: #155eb1;
		box-shadow: 0 0 10px #000;
		width: 100%;
		z-index: 500;
		position: relative;
		transition: .3s;

		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		// btn open
		.btn-open-navBar {
			right: -30px;
			width: 30px;
			height: 30px;
			border-bottom-right-radius: 5px;
			backdrop-filter: blur(100px);
			position: absolute;
			justify-content: center;
			cursor: pointer;
			overflow: hidden;
			z-index: 1000;
			transition: .3s;

			display: grid;
			.line-top {
				border-radius: 10px;
				z-index: 100;
				background: #ffffff;
				width: 30px;
				height: 2px;
				transition: .3s;
			}
			.line-bottom {
				border-radius: 10px;
				z-index: 100;
				background: #ffffff;
				width: 25px;
				height: 2px;
				transition: .3s;
				&::after {
					content: "";
					position: absolute;
					border-radius: 10px;
					z-index: 100;
					background: #ffffff;
					width: 20px;
					height: 2px;
					bottom: 0;
					transition: .3s;
				}
			}
			&.activeDesktop {
				.line-top {
					width: 35px; //edit (remove: 30px, add: 35px)
					transform: rotate(45deg); //edit (add: transform)
					margin-top: 9px; //edit (add: margin-top)
					place-self: center; //edit (ad: place-self)
				}
				.line-bottom {
					width: 0; //edit (remove: 30px, add: 0)
					height: 0; //edit (remove: 2px, add: 0)
					&::after {
						width: 35px; //edit (remove: 20px, add: 35px)
						transform: rotate(-45deg); //edit (add: transform)
						place-self: center; //edit (add: place-self)
						margin-bottom: 14px; //edit (add: margin-bottom)
					}
				}
			}
		}
		// logo
		.logo-navBar-area {
			width: 100%;
			height: min-content;
			margin: 0;
			border-bottom: 1px solid #ffffff80;
			transition: .3s;

			display: grid;
			grid-column: 1/3;
			grid-row: 1/2;
			img {
				padding: 5px;
				background: #ffffff80;
				border-radius: 25px;
				width: 75%;
				margin: 5%;
				place-self: center;
				transition: .3s;
			}
			.palmera-navBar {
				opacity: 0;
				position: absolute;
			}
		}
		// main
		.main {
			gap: 30px;
			margin-left: 5px;
			position: relative;
			width: 100%;
			align-content: center;
			transition: .3s;

			display: flex;
			flex-direction: column;
			grid-column: 1/3;
			grid-row: 2/3;
			li {
				list-style: none;
				color: #ffffff;
				cursor: pointer;
				border-radius: 50px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding: 5px 10px;
				padding-right: 0;
				margin-right: 5px;
				align-items: center;

				display: flex;
				// logo
				i {
					margin-right: 10px;
					font-size: 1.5rem;
				}
				// text
				h3 {
					font-size: .9rem;
				}
				&:hover {
					color: #155db1;
					background: #ffffff;
					&::after {
						content: "";
						width: 25px;
						height: 25px;
						background: #155db1;
						position: absolute;
						right: 0;
						margin-right: 5px;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						transition: 0;
					}
				}
				&.active {
					color: #155db1;
					background: #ffffff;
					&::after {
						content: "";
						width: 25px;
						height: 25px;
						background: #155db1;
						position: absolute;
						right: 0;
						margin-right: 5px;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						transition: .3s;
					}
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.navBar {
		transform: translateX(-100%); //edit (add: transform)
		&.active {
			transform: translateX(0); //edit (remove: -100%, add: 0)
		}
		.navBar-content {
			.btn-open-navBar {
				&.active {
					.line-top {
						width: 35px; //edit (remove: 30px, add: 35px)
						transform: rotate(45deg); //edit (add: transform)
						margin-top: 9px; //edit (add: margin-top)
						place-self: center; //edit (ad: place-self)
					}
					.line-bottom {
						width: 0; //edit (remove: 30px, add: 0)
						height: 0; //edit (remove: 2px, add: 0)
						&::after {
							width: 35px; //edit (remove: 20px, add: 35px)
							transform: rotate(-45deg); //edit (add: transform)
							place-self: center; //edit (add: place-self)
							margin-bottom: 14px; //edit (add: margin-bottom)
						}
					}
				}
			}
		}
	}
}
